<!--
/*Name:Faiyaz Muhammad
Student id: 301227442
Date: october 7th 2022*/
-->

<nav class="navbar fixed-bottom bg-light">
    <div class="container-fluid">
      <h5 id="copyright" ><center>&copy; Copyright 2022 | Faiyaz Muhammad</center></h5>
    </div>
  </nav>