/*Name:Faiyaz Muhammad
Student id: 301227442
Date: october 7th 2022*/

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{
    width:500px;
}
.i{
    width: 300px;
    margin-right: 20px;
}
.b{
    background-image: linear-gradient(to left, #6e6eff, #1CB5E0);
}