<!--
/*Name:Faiyaz Muhammad
Student id: 301227442
Date: october 7th 2022*/
-->
<body class="b">
    <link href="./content/css/about.css" rel="stylesheet" type="text/css">
<div class="about">
    <h1> <%= title %> </h1>
    <img class="i" src="./content/images/me.jpg">
    <p> Hey guys, my name is <b>Faiyaz Muhammad </b> and I am from Dhaka, Bangladesh. I am enrolled at the Centennial College-Artificial Intelligence Program, and I live around Scarborough. Apart from studies, I try learing different languages such as French, German or Spanish, all while working out daily</p>
    <p><a href="./content/files/resume.pdf" type="application/pdf"> Click</a> here if you wanna know more about me.</p>
</div>
</body>
