<!--
/*Name:Faiyaz Muhammad
Student id: 301227442
Date: october 7th 2022*/
-->
<body class="b">
    <link href="./styles/contact.css" rel="stylesheet" type="text/css">

<div class="contact-cont">
    <h1> <%= title %>  </h1>
    <form id="form" class="topBefore" action="/home">
        <input id="name" type="text" placeholder="NAME">
        <input id="email" type="text" placeholder="E-MAIL">
        <input id="number" type="text" placeholder="NUMBER">
        <textarea id="message" type="text" placeholder="MESSAGE"></textarea>
    <input id="submit" type="submit" value="GO!">
        
    </form>
    <div id="contact-info">
        <p>If you have any more questions or problems,  please contact me at amifaiyaz@gmail.com or my number at 437-437-4374 </p>
    </div>
</div>

</body>
