<!--
/*Name:Faiyaz Muhammad
Student id: 301227442
Date: october 7th 2022*/
-->
<link href="./content/css/home.css" rel="stylesheet" type="text/css">

<div class="home-cont">
    <h1> <%= title %>  </h1>
    <p>
        Hello Guys!, I am Faiyaz and I welcome you all!
    </p>
    <br/>
    <p> <b>Mission:</b> Learn something useful, and excel at it. Even if it takes times I will keep on going, because everyone has a different pace!</p>
    <p>As we are all humans, arent we?</p>
    <br/>
    <iframe src="https://giphy.com/embed/yf1FudsWqSVlOeVB1R" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>


