<!--
/*Name:Faiyaz Muhammad
Student id: 301227442
Date: october 7th 2022*/
-->

<body class="b">
    <link href="./styles/projects.css" rel="stylesheet" type="text/css">
<div class="projects-cont">
    <h1> <%= title %>  </h1>
    <div class="proj">
        <h2>Simple Calculator</h2>
        <img  src="./content/images/calculator.jpg">
        <br/>
        <br/>
        <p>The most basic project that can be madeby any programmer. In my case, I used C# and created this ease basic project.</p>
    </div>
    <div class="proj">
        <h2>Crypto Bot</h2>
        <img  src="./content/images/bot.JPG">
        <br/>
        <br/>
        <p>An AI crpto bot that buys and sells crypto currency by predecting the value of crypto on a graph. This project is still on process, but as i learn more about AI, i develop it as much as I can.</p>
   
    </div>
    <div class="proj">
        <h2>Number Guessing Game</h2>
        <img src="./content/images/guess.png" width="25px" height="200px">
        <br/>
        <br/>
        <p>Yet another simple project that I did using java, where a random number was generated and user had to guess the final number.</p>
   
    </div>
</div>
</body>