<!--
/*Name:Faiyaz Muhammad
Student id: 301227442
Date: october 7th 2022*/
-->
<body class="b">
<link href="./styles/services.css" rel="stylesheet" type="text/css">

<div class="services-cont">
    <h1> <%= title %>  </h1>
    <img class="webdev" src="./content/images/services.png">
    <p>Being a programming student, i offer services such as: </p>
        <ul><b>Desktop Computer Building</b></ul>
        <ul><b>General Progamming</b></ul>
        <ul><b>Basic TroubleShooting</b></ul>
    <br/>
    <p>If you want to contact me for any services, you can fill out the form on the <a class="nav-link <%= (page == 'contact') ? 'active' : ''; %>" aria-current="page" href="/contact"><i class="fa-solid fa-envelopes-bulk fa-lg"></i></a>page</p>
</div>
</body>